<div class='panel panel-primary'>
    <div class='panel-heading'>
        Login
    </div>
    <div class='panel-body'>
        <form novalidate (ngSubmit)="onSubmit(regiterFrm)" [formGroup]="regiterFrm">
            
                <div class="form-group">
                    <div>
                        <span>Username/email*</span>
                        <input type="text" class="form-control" placeholder="Email" formControlName="Email">
                    </div>
                    <div>
                        <span>Password*</span>
                        <input type="password" class="form-control" placeholder="Password" formControlName="Password">
                    </div>
                    <div>
                        <span>Confirm Password*</span>
                        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="ConfirmPassword">
                    </div>
                </div>
           
                <div>
                    <button type="submit" [disabled]="regiterFrm.invalid" class="btn btn-primary">Register</button>
                </div>
           
        </form>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>
